.topoMobile {
	background-color: black;
	position: static;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.topoDesktop {
	background-color: black;
	position: static;
	top: 0;
	left: 0;
	right: 0;
	height: 15%;
}

.logoMobile {
	width: 15%;
	height: 50%;
}

.logoDesktop {
	width: 18%;
	height: 10%;
}